html, body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #c1edff;
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	height: 100%;
}

h1 {
	margin: 32px 32px 0px 32px;
	font-family: 'Arial Rounded MT Bold', 'Roboto Bold', cursive;
}

p {
	margin-left: 32px;
	opacity: 0.75;
	font-family: 'Arial Rounded MT Bold', 'Roboto Bold', cursive;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2.5em;
	font-family: 'Arial Rounded MT Bold', 'Roboto Bold', cursive;
}

h3 {
	margin-top: 0px;
	font-size: 1em;
	margin-bottom: 0px;
	color: #805b23;
}

.mood-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient( -30deg, rgba(210, 20, 130, 0.4) 0%, rgba(255, 0, 0, 0) ), url(../images/monad.webp);
	background-size: cover;
	background-position: center; 
	width: 100%;
}

.emoji-emotion {
	will-change: transform;
	font-size: 56px;
	transform: rotate(-30deg);
	animation-name: emoji-motion;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.34,0,.55,.97);
	margin: 32px 32px 32px 32px;
}

main {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 33% 33%;
	justify-items: center;
	align-items: center;
	grid-row-gap: 32px;
	margin-bottom: 32px;
}

.data-unit {
	text-align: center;
}

.graph-container {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 100%;
	max-width: 450px;
	background: white; 
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.graph-container > h3 {
	margin: 16px 16px 0px 32px;
}

climate-graph {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 450px;
	align-self: stretch;
	/* border-radius: 5px; */
}

@keyframes emoji-motion{
	0% {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(30deg);
	}

	100% {
		transform: rotate(-30deg);
	}

}

@media (max-width: 500px) {
	.graph-container {
		grid-column-end: span 3;
	}
}
