html, body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #c1edff;
	margin: 0px 0px 0px 0px;
	width: 100vw;
	height: 100vh;
}

h1 {
	margin: 32px 32px 0px 32px;
	font-family: 'Patrick Hand SC', cursive;
}

p {
	margin-left: 32px;
	font-family: 'Patrick Hand SC', cursive;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 3em;
	font-family: 'Patrick Hand SC', cursive;
}

h3 {
	margin-top: 0px;
	font-size: 1em;
	margin-bottom: 0px;
	color: #805b23;
}

.mood-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient( -30deg, rgba(210, 20, 130, 0.4) 0%, rgba(255, 0, 0, 0) ), url(../images/monad.webp);
	background-size: cover;
	 background-position: center; 
	width: 100%;
}

.emoji-emotion {
	will-change: transform;
	font-size: 56px;
	transform: rotate(-30deg);
	animation-name: emoji-motion;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.34,0,.55,.97);
	margin: 32px 32px 32px 32px;
}

main {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 25% 1fr 1fr;
	justify-items: center;
	align-items: center;
}

climate-graph {
	width: 100%;
	height: 100%;
	background: white;
	grid-column-end: span 3;
}

@keyframes emoji-motion{
	0% {
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(30deg);
	}

	100% {
		transform: rotate(-30deg);
	}

}