<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
		<link rel="preload" as="image" href="static/images/monad.webp">
	</head>
	<body>
		<header>
			<div class="mood-container">
				<p class="emoji-emotion" id="mood">{{.LatestReading.Mood}}</p>
			</div>
			<h1>Current Climate at Monad's House:</h1>
		</header>
		<main>
			<div class="climate-data">
				<div class="data-unit">
					<h2 id="curr_temp">{{.LatestReading.Temp}}</h2>
					<h3>temperature</h3>
				</div>
				<div class="data-unit">
					<h2 id="curr_humidity">{{.LatestReading.Humidity}}</h2>
					<h3>humidity</h3>
				</div>
			</div>

			<div class="graph-wrapper">
				<div class="graph-container">
					<svg class="graph">
						<g class="grid y-grid">
							<line x1="30" x2="30" y1="0" y2="330"></line>
						</g>
						<g class="grid x-grid">
							<line x1="30" x2="360" y1="330" y2="330"></line>
						</g>
						<g class="labels x-labels">
							<text x="75" y="350">12:00</text>
							<text x="130" y="350">12:00</text>
							<text x="185" y="350">12:00</text>
							<text x="240" y="350">12:00</text>
							<text x="295" y="350">12:00</text>
							<text x="350" y="350">12:00</text>
						</g>
						<g class="labels y-labels">
							<text x="30" y="30">12</text>
							<text x="30" y="85">12</text>
							<text x="30" y="140">12</text>
							<text x="30" y="195">12</text>
							<text x="30" y="250">12</text>
							<text x="30" y="305">12</text>
						</g>
						  <polyline
								fill="none"
								stroke="#0074d9"
								stroke-width="2"
								points="
								00,120
								20,60
								40,80
								60,20
								80,80
								100,80
								120,60
								140,100
								160,90
								180,80
								200, 110
								220, 10
								240, 70
								260, 100
								280, 100
								300, 40
								320, 0
								340, 100
								360, 100
								380, 120
								400, 60
								420, 70
								440, 80
								"
							/>
					</svg>
				</div>

				<div class="graph-container">
					
				</div>
			</div>
		</main>
	</body>
</html>