<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="static/css/style.css" rel="stylesheet">
		<link rel="manifest" href="../static/manifest.json">
		<link rel="preload" as="image" href="static/images/monad.webp">
		
	</head>
	<body>
		<header>
			<div class="mood-container">
				<span class="emoji-emotion" id="mood">{{.LatestReading.Mood}}</span>
			</div>
			<h1>Current Climate at Monad's House:</h1>
			<p>Collected at {{.LatestReading.Time}}</p>
		</header>
		<main>
			<div class="data-unit" id="temp">
				<h2 id="curr_temp">{{.LatestReading.Temp}}</h2>
				<h3>temperature</h3>
			</div>
			<div class="data-unit" id="humidity">
				<h2 id="curr_humidity">{{.LatestReading.Humidity}}</h2>
				<h3>humidity</h3>
			</div>
			<div class="graph-container">
				<h3>Temperature</h3>
				<climate-graph type="temp"></climate-graph>
			</div>
			<div class="graph-container">
				<h3>Humidity</h3>
				<climate-graph type="humidity"></climate-graph> 
			</div>

		</main>
		<script>
			//fetch JSON from server
			const readingsURL = "http://192.168.1.8:8080/climatereadings"
			fetch(readingsURL)
				.then (response => {
					if(response.status !== 200) {
						Promise.reject(new Error(response.statusText))
					}
					return response.json()
				})
				.then (data => {
					//dispatch custom events to custom element when fetch completes
					var fetchComplete = new CustomEvent('fetch-complete', {detail: data})
					document.querySelectorAll('climate-graph').forEach( el => { el.dispatchEvent(fetchComplete) })
				})
				.catch( e => {console.log(e) })
			
		</script>
		<script src="static/js/climate-graph.js"></script>
	</body>
</html>
